# Needed to install the dependency node-gyp for bcrypt
# Forces npm to run node-gyp also as root, preventing permission denied errors in AWS with npm@5 or @6
# @see https://github.com/kelektiv/node.bcrypt.js/wiki/Installation-Instructions
unsafe-perm=true